<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Clover.KeepBackupLimit</key>
	<data>
	MA==
	</data>
	<key>Clover.MountEFI</key>
	<data>
	MkNGMEQwOTEtMDlGRi00Q0M4LUI5NEMtRDVBRUU0QjBCOUUy
	</data>
	<key>Clover.Theme</key>
	<data>
	Q2hhbWVsaWE=
	</data>
	<key>EFIBluetoothDelay</key>
	<data>
	uAs=
	</data>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>SystemAudioVolume</key>
	<data>
	PA==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	/A==
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	AQASCgAAAACgFAAafdpxEQ==
	</data>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	MW5rMeKAmXMgaU1hYw==
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAAA//8AAAQBKgACAAAAKEAGAAAAAABgC+8NAAAA
	AN/Kng4lbrJIgPW+YQddGHsCAgQDJAD3/HS+fAvzSZFHAfQELmhCA69Y9ogjikumjdxW
	zZaS73//BAA=
	</data>
	<key>wake-failure</key>
	<data>
	AAAAAAA=
	</data>
</dict>
</plist>
