<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>#RenameDevices</key>
		<dict>
			<key>#_SB.PCI0.RP01.PXSX</key>
			<string>ARPT</string>
			<key>_SB.PCI0.RP02.PXSX</key>
			<string>XHC2</string>
		</dict>
		<key>#Sorted ACPI tables Count</key>
		<integer>0</integer>
		<key>#SortedOrder</key>
		<array>
			<string>SSDT-1.aml</string>
		</array>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>#Patches count</key>
			<integer>10</integer>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<true/>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<true/>
				<key>AddHDMI</key>
				<false/>
				<key>AddIMEI</key>
				<false/>
				<key>AddMCHC</key>
				<false/>
				<key>AddPNLF</key>
				<false/>
				<key>DeleteUnused</key>
				<true/>
				<key>FakeLPC</key>
				<false/>
				<key>FixACST</key>
				<false/>
				<key>FixADP1</key>
				<false/>
				<key>FixAirport</key>
				<false/>
				<key>FixDarwin</key>
				<false/>
				<key>FixDarwin7</key>
				<false/>
				<key>FixDisplay</key>
				<false/>
				<key>FixFirewire</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixHPET</key>
				<true/>
				<key>FixIDE</key>
				<false/>
				<key>FixIPIC</key>
				<true/>
				<key>FixIntelGfx</key>
				<false/>
				<key>FixLAN</key>
				<false/>
				<key>FixMutex</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixRegions</key>
				<true/>
				<key>FixS3D</key>
				<false/>
				<key>FixSATA</key>
				<false/>
				<key>FixSBUS</key>
				<false/>
				<key>FixShutdown</key>
				<true/>
				<key>FixTMR</key>
				<true/>
				<key>FixUSB</key>
				<false/>
				<key>FixWAK</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change AZAL to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QVpBTA==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change LPC to LPCB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>TFBDXw==</data>
					<key>Replace</key>
					<data>TFBDQg==</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
			<key>Rtc8Allowed</key>
			<false/>
			<key>SuspendOverride</key>
			<true/>
		</dict>
		<key>DisableASPM</key>
		<true/>
		<key>DropTables</key>
		<array>
			<dict>
				<key>DropForAllOS</key>
				<false/>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>DropForAllOS</key>
				<false/>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>FixMCFG</key>
		<false/>
		<key>HaltEnabler</key>
		<true/>
		<key>PatchAPIC</key>
		<false/>
		<key>ResetAddress</key>
		<string>0x0000</string>
		<key>ResetValue</key>
		<string>0x0000</string>
		<key>SSDT</key>
		<dict>
			<key>#C3Latency</key>
			<integer>250</integer>
			<key>#DoubleFirstState</key>
			<false/>
			<key>#EnableC2</key>
			<false/>
			<key>#EnableC4</key>
			<false/>
			<key>#EnableC6</key>
			<true/>
			<key>#EnableC7</key>
			<false/>
			<key>#MaxMultiplier</key>
			<integer>0</integer>
			<key>#MinMultiplier</key>
			<integer>0</integer>
			<key>#PLimitDict</key>
			<integer>0</integer>
			<key>#PluginType</key>
			<integer>1</integer>
			<key>#UnderVoltStep</key>
			<integer>0</integer>
			<key>#UseSystemIO</key>
			<false/>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>APLF</key>
				<false/>
				<key>APSN</key>
				<false/>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>NoDynamicExtract</key>
			<true/>
		</dict>
		<key>smartUPS</key>
		<false/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>#CustomLogo</key>
		<string>_NOT_SHOWN_</string>
		<key>#NeverHibernate</key>
		<false/>
		<key>#RtcHibernateAware</key>
		<false/>
		<key>#StrictHibernate</key>
		<false/>
		<key>#Timeout</key>
		<string>_NOT_SHOWN_</string>
		<key>Arguments</key>
		<string>uia_exclude=HS02;HS03;HS09;HS10;HS12;HS13;HS14;HS15;SS02;SS03 dart=0 keepsyms=1 -disablegfxfirmware kext-dev-mode=1 -no_compat_check agdpmod=pikera -lilubetaall -liluforce</string>
		<key>CustomLogo</key>
		<string>Theme</string>
		<key>Debug</key>
		<false/>
		<key>DisableCloverHotkeys</key>
		<false/>
		<key>Fast</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>LegacyBiosDefaultEntry</key>
		<integer>0</integer>
		<key>NeverDoRecovery</key>
		<true/>
		<key>SkipHibernateTimeout</key>
		<false/>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>DefaultBackgroundColor</key>
		<string>0x80000000</string>
		<key>EFILoginHiDPI</key>
		<integer>0</integer>
		<key>UIScale</key>
		<integer>1</integer>
		<key>flagstate</key>
		<integer>0</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>#BusSpeedkHz</key>
		<integer>100214</integer>
		<key>#HWPEnable</key>
		<false/>
		<key>#HWPValue</key>
		<integer>0</integer>
		<key>#QEMU</key>
		<false/>
		<key>#TDP</key>
		<false/>
		<key>#TurboDisable</key>
		<true/>
		<key>#UseARTFrequency</key>
		<false/>
		<key>EnabledCores</key>
		<integer>4</integer>
		<key>FrequencyMHz</key>
		<integer>4009</integer>
		<key>QPI</key>
		<integer>0</integer>
		<key>SavingMode</key>
		<integer>255</integer>
		<key>Type</key>
		<string>0x0905</string>
	</dict>
	<key>ConfigName</key>
	<string>config</string>
	<key>Devices</key>
	<dict>
		<key>#Inject</key>
		<false/>
		<key>#IntelMaxValue</key>
		<integer>0</integer>
		<key>#NoDefaultProperties</key>
		<false/>
		<key>#Properties</key>
		<string>_NOT_SHOWN_</string>
		<key>#SetIntelBacklight</key>
		<false/>
		<key>#SetIntelMaxBacklight</key>
		<false/>
		<key>Audio</key>
		<dict>
			<key>#Inject</key>
			<integer>7</integer>
			<key>#ResetHDA</key>
			<true/>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x3e928086</string>
		</dict>
		<key>ForceHPET</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>AAPL,clock-id</key>
				<data>AA==</data>
				<key>AAPL,current-available</key>
				<data>sAQ=</data>
				<key>AAPL,current-extra</key>
				<data>vAI=</data>
				<key>AAPL,current-in-sleep</key>
				<data>6AM=</data>
				<key>built-in</key>
				<data>AA==</data>
				<key>device_type</key>
				<data>WEhDSQ==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>MaximumBootBeepVolume</key>
				<data>AA==</data>
				<key>PinConfigurations</key>
				<data>AA==</data>
				<key>layout-id</key>
				<data>BwAAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AwCSPg==</data>
				<key>AAPL00,DualLink</key>
				<data>AQ==</data>
				<key>class-code</key>
				<data>AAADAA==</data>
				<key>device-id</key>
				<data>kj4AAA==</data>
				<key>model</key>
				<data>SW50ZWwgVUhEIEdyYXBoaWNzIDYzMA==</data>
				<key>subsystem-vendor-id</key>
				<data>axAAAA==</data>
				<key>vendor-id</key>
				<data>hoAAAA==</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<false/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>#Language</key>
		<string></string>
		<key>#Theme</key>
		<string>Emerald</string>
		<key>ConsoleMode</key>
		<string>0</string>
		<key>Custom</key>
		<dict>
			<key>Comment</key>
			<string>These values wrong, they present for sample</string>
		</dict>
		<key>CustomIcons</key>
		<false/>
		<key>EmbeddedThemeType</key>
		<string>Dark</string>
		<key>Hide</key>
		<array>
			<string>VolumeName_NOT_SHOWN</string>
			<string>VolumeUUID_NOT_SHOWN</string>
			<string>EntryPath_NOT_SHOWN</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>#Entries</key>
			<true/>
			<key>#Legacy</key>
			<true/>
			<key>#Tool</key>
			<true/>
			<key>Comment</key>
			<string>These values wrong, they present for sample</string>
		</dict>
		<key>ScreenResolution</key>
		<string>2560x1080</string>
		<key>TextOnly</key>
		<false/>
		<key>Theme</key>
		<string>BGM</string>
	</dict>
	<key>GenTool</key>
	<string>Clover r5104 by Clover.app v1.16</string>
	<key>Graphics</key>
	<dict>
		<key>#PatchVBiosBytes</key>
		<array>
			<dict>
				<key>#Find</key>
				<string>_NOT_SHOWN_</string>
				<key>#Replace</key>
				<string>_NOT_SHOWN_</string>
			</dict>
		</array>
		<key>#PatchVBiosBytes Count</key>
		<integer>0</integer>
		<key>EDID</key>
		<dict>
			<key>#Custom</key>
			<string>_NOT_SHOWN_</string>
			<key>#ProductID</key>
			<string>0x0000</string>
			<key>#VendorID</key>
			<string>0x0000</string>
			<key>Inject</key>
			<false/>
		</dict>
		<key>FBName</key>
		<string></string>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>LoadVBios</key>
		<true/>
		<key>NVCAP</key>
		<string>04000000000003000c0000000000000700000000</string>
		<key>NvidiaGeneric</key>
		<false/>
		<key>NvidiaNoEFI</key>
		<false/>
		<key>NvidiaSingle</key>
		<false/>
		<key>PatchVBios</key>
		<false/>
		<key>RadeonDeInit</key>
		<true/>
		<key>VRAM</key>
		<integer>0</integer>
		<key>VideoPorts</key>
		<integer>0</integer>
		<key>display-cfg</key>
		<string>03010300ffff0001</string>
		<key>ig-platform-id</key>
		<string>0x3e920003</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>#Debug</key>
		<false/>
		<key>#FakeCPUID</key>
		<string>0x0000</string>
		<key>#KextsToPatch</key>
		<array>
			<dict>
				<key>#Disabled</key>
				<true/>
				<key>#Find</key>
				<string>_NOT_SHOWN_</string>
				<key>#MatchBuild</key>
				<string>16D1111</string>
				<key>#MatchOS</key>
				<string>10.11.6,10.12.x</string>
				<key>#Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>#Replace</key>
				<string>_NOT_SHOWN_</string>
				<key>Comment</key>
				<string>this is a sample</string>
			</dict>
		</array>
		<key>#Number of KextsToPatch</key>
		<integer>15</integer>
		<key>#Number of Patchs To Kernel</key>
		<integer>0</integer>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KernelXCPM</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>#MLB</key>
		<string>C02850270QXJ0DXCB</string>
		<key>#ROM</key>
		<string>UseMacAddr0</string>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>01/31/2020</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IM183.88Z.F000.B00.2001311618</string>
		<key>Board-ID</key>
		<string>Mac-77F17D7DA9285301</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02831310GUJ0DXFB</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>iMac-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>181.0.0.0.0</string>
		<key>Family</key>
		<string>iMac</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE176</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF7F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>OEMBoard</key>
		<string>B360M HD3</string>
		<key>OEMProduct</key>
		<string>B360M-HD3</string>
		<key>OEMVendor</key>
		<string>Gigabyte Technology Co., Ltd.</string>
		<key>PlatformFeature</key>
		<string>0x00</string>
		<key>ProductName</key>
		<string>iMac18,2</string>
		<key>SerialNumber</key>
		<string>C02X50CAJ1G5</string>
		<key>Slots</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>there is a sample</string>
				<key>Device</key>
				<string>WIFI</string>
				<key>ID</key>
				<integer>5</integer>
				<key>Name</key>
				<string>Airport</string>
				<key>Type</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>SmUUID</key>
		<string>491A6EA1-E6F6-46AB-B228-C0825B708D5F</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>#InjectKexts</key>
		<string>Detect</string>
		<key>BacklightLevel</key>
		<string>0xffff</string>
		<key>CustomUUID</key>
		<string>795B94B6-6307-5363-9853-D474F3807243</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>